@charset 'utf-8';

// 後でファイル毎に分ける
body{
    margin:0;
    background-color: black;
}

// 後でファイル毎に分ける
#main-wrap{
    background-color: #333;
    height: 1200px;
    max-width: 800px;
}

//////////////////////////
// define(ワイルドカードでの指定は順序等が決められない為、reset.sassのような読み込み順序が重要な物のみキッチリ書く)
//////////////////////////
@import "0_base/vars";
@import "0_base/reset";
@import "0_base/mixin";

//////////////////////////
// Layout .l-
//////////////////////////
@import "1_layout/*";

//////////////////////////
// Component .c-
//////////////////////////

//////////////////////////
// Project .p-
//////////////////////////
